<p>
  <strong>Имя пользователя:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Адресс:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Роутер:</strong>
  <%= @user.is_router %>
</p>

<p>
  <strong>Дата отключения:</strong>
  <%= @user.date_of_disconnect %>
</p>
